<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503076402814-anfsm7qifd8dq60g0dor7i4ftc6mjbbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503076402814-anfsm7qifd8dq60g0dor7i4ftc6mjbbc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503076402814-sc2l974hqhi55tae7pe2ca92p26buq3h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzFYgUFf7VfnqlFfUpCLiYXC5SRyo80cA</string>
	<key>GCM_SENDER_ID</key>
	<string>503076402814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lv.spkc.gov.apturicovid.staging</string>
	<key>PROJECT_ID</key>
	<string>apturicovid</string>
	<key>STORAGE_BUCKET</key>
	<string>apturicovid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503076402814:ios:03e6f6f7ec9e32551aca2f</string>
	<key>DATABASE_URL</key>
	<string>https://apturicovid.firebaseio.com</string>
</dict>
</plist>